@use "variables" as *;
@use "reset";
@use "media-qwerys" as *;

body {
  min-height: 100vh;
  display: grid;
  place-content: center;

  padding-inline: 1.5rem;
  padding-block: 5.5rem;
  background-color: var(--clr-primary-main-background);
  font-family: var(--ff-primary);
  font-size: 0.9375rem;
  font-weight: 400;
}

.card {
  max-width: 35rem;
  border-radius: var(--border-radius);
  overflow: hidden;

  padding-block-end: 2rem;

  background-color: var(--clr-primary-card-background);

  display: grid;
  row-gap: 2.5rem;
  grid-template-areas:
"image"
"title"
"stats";

  @include mq(medium) {
    row-gap: 0;
    grid-template-columns: 1fr calc(50% - 15px);
    align-items: start;
    grid-template-areas:
    "title image"
    "stats image";

    max-width: 69.375rem;
    padding-block-end: 0;
  }
}

.image-header {
  grid-area: image;
}

.hero {
  grid-area: title;
  display: grid;
  gap: 1rem;

  padding-inline: 1.96875rem;

  .title {
    color: var(--clr-neutral-main-heading);
    font-size: 1.75rem;
    line-height: 114%;

    text-align: center;
    text-wrap: unset;

    span {
      color: var(--clr-primary-accent)
    }
  }

  .description {
    color: var(--clr-neutral-main-paragraph);
    text-align: center;
    line-height: 167%;
    max-width: 90%;
  }

  @include mq(medium) {
    gap: 1.5625rem;
    padding-inline-start: 4.5rem;
    padding-inline-end: 5.9375rem;
    padding-block-start: 4.0625rem;
    padding-block-end: 0.5rem;

    .title, .description {
      text-align: left;
    }
  }

  @include mq(large) {
    padding-block-start: 4.5rem;
    padding-block-end: 0.5rem;

    .title {
      font-size: 2.25rem;
      line-height: 122%;
    }
  }
}

  ul {
  grid-area: stats;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    align-items: end;

    @include mq(medium) {
      grid-template-columns: repeat(3, 1fr);
      justify-items: start;

      padding-inline-start: 4.5rem;
      padding-inline-end: 5.9375rem;

      .stats-block:nth-child(2) {
        padding-inline-start: 0.25rem;
      }
    }
  }

  .stats-block {
    display: grid;
    justify-items: center;
    align-items: center;

    @include mq(medium) {
      justify-items: start;
    }
  }

  .stat {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr-neutral-main-heading)
  }

  .stat-heading {
    font-family: var(--ff-secondary);
    font-size: 0.75rem;
    line-height: 1.5625rem;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: var(--clr-neutral-stat-headings);
  }

